nav {
  margin-top: 0;
  background: #76e9d8;
  padding: 2vh 0;
}

#navTitle {
  font-size: 1.4rem;
}
  
.add-content-form{
  width: 60vw;
  margin: 2rem;
}

.nav-link {
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 0.9rem;
}

.input {
  width: 45%;
  margin-right: 2vw;
}


.imgWrap {
   margin: auto !important;
   display: flex !important;
   flex-direction: column !important;
   flex-wrap: wrap !important;
   height: 400vh !important;
   overflow: scroll !important;
}

.imgBox{
   padding: 0;
   height: fit-content;
}
.imgBox:hover h3{
   opacity: .7;
}
.imgBox h3{
   color: white;
   position: absolute;
   z-index: 2;
   opacity: 0;
   background-color: rgba(0,0,0,.3);
   font-size: 1.3em;
   letter-spacing: .6px;
   padding-left: 5px;
   border-radius: 6px;
}

.imgCards {
   height: fit-content;
}
.imgCards p {
   display: none;
}
.image img {
   border-radius: 7px;
}