
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#mainContent {
  flex: 1;
}

*{
  backface-visibility: hidden;
}

nav {
  margin-top: 0;
  background: #76e9d8;
  padding: 2vh 0;
}

#navTitle {
  margin-left: -10px !important;
}
  
.add-content-form{
  width: 60vw;
  margin: 2rem;
}

.nav-link {
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 0.9rem;
}

.input {
  width: 45%;
  margin-right: 2vw;
}

//--------------- imgList ------------//
#columns {
	column-count: 3;
	column-gap: 1em;
	column-fill: auto;
}

.imgWrap {
  width: 90%;
	max-width: 1100px;
	min-width: 800px;
  margin: 30px auto;
  transform:translate3d(0,0,0);
}

.imgBox{
  padding: 0;
  height: fit-content;
  margin: 0px .1em;
  margin-bottom: 1.1em !important;
  position: relative;  
  z-index: 0;
}
.box{
  border-radius: 7px;
}

.imgBox:hover h3{
  opacity: .7;
  transition: opacity .1s;
}

.imgBox h3{
  color: white;
  position: absolute;
  z-index: 2;
  opacity: 0;
  background-color: rgba(0,0,0,.35);
  font-size: 1.3em;
  letter-spacing: .6px;
  padding-left: 5px;
  border-radius: 6px;
}
.image{
  border-radius: 7px;
}
.listImg:hover{
  cursor: zoom-in;
  box-shadow: inset 0 0 130px rgba(0,0,0,.4);
  transition: box-shadow .08s;
}
.listImg img {
  width: 100%;
  border-radius: 7px;
  position: relative;
  z-index: -1;
}
.image img {
   border-radius: 7px;
}


// --------- modal -------//
.modal-content{
  position: relative;
  margin: 0 16% !important;
  padding: 5% 5%;
  width: 75% !important;
  background-color: rgba(250,250,250,.93);
  border-radius: 10px;
}

.modalImg img {
  max-height: 79vh;
  margin: auto;
  max-width: 80%;
}

.modalBtn{
  position: absolute;
  top: 12px;
  background-color: transparent;
  color: rgba(230,60,0,.85);
  border-radius: 5px;
}

.board-ul{
  color: white;
  background-color: rgba(235,0,20,.6);
  padding: 1em;
  margin: 1em 1em;
  border-radius: 8px;
  font-weight: 500;
  opacity: .78;
  transition: opacity .5s;
}
.board-ul li{
  line-height: 1.5em;
}
.board-ul:hover {
  opacity: 1;
  transition: opacity .5s;
  cursor: pointer;
}
.board-ul:hover li span {
  opacity: 1;
  transition: opacity .5s;
}
.board-ul li span {
  position: absolute;
  right: 5em;
  font-size: 1.4em;
  opacity: 0;
  transition: opacity .5s;
}

.centerPls {
  text-align: center;
}


//--------- footer ------//
footer {
  margin-top: 0 !important;
  background: #76e9d8 !important;
  padding: 2vh 0 !important;
}

.right {
  float: right;
}