<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
        <h1 class="title">Your Boards</h1>
        </div>
    </div>
</section>

<div>
    <h2>{{message}}</h2>
    <br>
    <div class="columns is-multiline">    
        <div ng-repeat="board in boards | filter: search.term" class ="column is-one-third">
            <a ng-href="#!/boards/{{board.id}}">
                <div class="tile is-parent" >
                    <article class="tile is-child box">
                        <p class="title">{{board.title}}</p>
                        <p class="subtitle">{{board.description}}</p>
                    </a>
                    <br>
                        <button class="button" ng-click="setModal()">Edit Board</button>
                    </article>
                </div>
        </div>
    </div>
</div>

<div class="modal">
    <div class="modal-background"></div>
       <div class="modal-content">
           <div class="centerPls">
            <h1 class="bigger">Edit your board?</h1>
            <br>
            <div class="field">
                <label for="boardTitle" class="biggerish">Title</label>
                <input type="text" id="boardTitle" ng-model="localBoard.title" placeholder="" class="biggerish">
            </div>
            <div class="field">
                <label for="boardDescription" class="biggerish">Description</label>          
                <input type="text" id="boardDescription" class="biggerish" ng-model="localBoard.description" placeholder="">
            </div>
            <br>
                <button class="button" ng-click="updateBoard(localBoard, boardIdVariable)">Save</button>
                <button class="button is-danger" ng-click="deleteBoard(boardIdVariable)">Delete</button>
          </div>
       </div>
    <button class="modal-close is-large" aria-label="close" ng-click="toggleModal()"></button>

 </div>