<footer class="footer" ng-controller="FooterCtrl">
    <div class="container">
        <p>
            <a href="#!/images">
                <img src="../img/winterest.png" alt="Winterest Logo" width="150" height="50">
            </a>
            &copy;
            <a href="https://github.com/nss-day-cohort-23/group-project-pinterest-the-aliases">The Aliases</a>
            <a class="link is-info nav-link right" href="#!/boards">Boards</a>
            <a class="link is-info nav-link right" href="#!/newboard">Add Board</a>
            <a class="link is-info nav-link right" href="#!/newimage">Add Image</a>
            <a class="link is-info nav-link right" ng-click="top()">Back to Top</a>
        </p>
    </div>
    </div>
</footer>