  <nav class="level" ng-controller="NavCtrl">
    <a href=""><img src="../img/winterest.png" alt="Winterest Logo" width="220" height="80" ng-click="goHome()"></a>
    <input class="input is-rounded" type="text" placeholder="Search..." ng-model="search.term">
    <div ng-if="user">
      <div class="navLinkBox" ng-click="window.location='#!/boards';">
        <a class="link is-info nav-link" href="#!/boards">Boards</a>    
      </div>  
      <div class="navLinkBox">    
        <a class="link is-info nav-link" href="#!/newboard">Add Board</a>
      </div>
      <div class="navLinkBox">    
        <a class="link is-info nav-link" href="#!/newimage">Add Image</a>
      </div>
      <div class="navLinkBox">    
        <a class="link is-info nav-link" ng-click="gtfo()">Logout</a>  
      </div>
    </div>
    <div ng-if="!user">
      <a class="link is-info nav-link" ng-click="login()">Login</a>
    </div>
  </nav>
