<nav class="level" ng-controller="NavCtrl">
    <p class="level-item" id="navTitle">
      <a href="#!/images">{{title}}</a>
    </p>
    <input class="input is-rounded" type="text" placeholder="Search images..." ng-model="search.term">
      <a class="link is-info nav-link" ng-click="">Login</a>
      <a class="link is-info nav-link" href="#!/boards">Board</a>      
      <a class="link is-info nav-link" href="#!/newboard">Add Board</a>
      <a class="link is-info nav-link" href="#!/newimage">Add Image</a>
  </nav>