<nav class="level" ng-controller="NavCtrl">
  <a href=""><img src="../img/winterest.png" alt="Winterest Logo" width="150" height="50"></a>
  <input class="input is-rounded" type="text" placeholder="Search images..." ng-model="search.term">
  <a class="link is-info nav-link" ng-click="login()">Login</a>
  <a class="link is-info nav-link" href="#!/boards">Boards</a>      
  <a class="link is-info nav-link" href="#!/newboard">Add Board</a>
  <a class="link is-info nav-link" href="#!/newimage">Add Image</a>
  <a class="link is-info nav-link" ng-click="gtfo()">Logout</a>  
</nav>
