<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">{{currentBoard}}<h1>
        </div>
    </div>
</section>

<div class="imgWrap">
    <div id="columns">
        <div class="box imgBox" ng-repeat="pin in pins">
            <h3 class="title">{{pin.title}}</h3>
            <div class="image listImg" ng-click="setModal()">
                <img ng-src="{{pin.url}}" alt="" />
            </div>
        </div>
    </div>
</div>

<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <p class="image">
            <img src="" alt="">
        </p>
        <button class="button modalBtn">Delete</button>
    </div>
    <button class="modal-close is-large" aria-label="close" ng-click="toggleModal()"></button>
</div>