<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title"> My {{currentBoard}} Board!<h1>
        </div>
    </div>
</section>

<!-- <div class="columns is-multiline">    
    <div ng-repeat="pin in pins" class ="column is-one-third">
        <div class="tile is-parent">
            <article class="tile is-child">
                <p class="title">{{pin.title}}</p>
                <figure class="image is-4by3">
                    <img src="{{pin.url}}">
                </figure>
                <p>{{pin.tags}}</p>
            </article>
        </div>
    </div>
</div> -->

<div class="imgWrap">
    <div id="columns">
        <div class="box imgBox" ng-repeat="pin in pins">
            <h3 class="title">{{pin.title}}</h3>
            <div class="image listImg" ng-click="setModal()">
                <img ng-src="{{pin.url}}" alt="" />
            </div>
        </div>
    </div>
</div>

<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <p class="image">
            <img src="" alt="">
        </p>
        <!-- <button class="button modalBtn">Collect</button> -->
    </div>
    <button class="modal-close is-large" aria-label="close" ng-click="toggleModal()"></button>
</div>